$fontColor: #f56161
$fontColor2: #09e7a5

@mixin sizing($bgc1)
  width: 200px
  height: 100px
  background-color: $bgc1
// 類似 js 的 function + return
// mixin 像 js function 一樣可以帶參數
// 如果變數的顯示不需要與其他字串組合, 不需要#{}

.block1
  color: $fontColor
  @include sizing(#960d0d)
  .block2
    color: $fontColor2
    @include sizing(#918181)

@for $i from 1 through 10
  $size: 10 + $i * 2
  .fz-#{$size}
    font-size: #{$size}px
// 用 10 圈的 for 迴圈, 變數 $i
// 產生 .fz- 開頭的類別
// 類別內容是 font-size, 值是迴圈變數 $i
// 要把變數顯示出來, 要用 #{}
